@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  list-style: none;
}

body{
  font-family: "Noto Sans KR", sans-serif ;
}

.top {
  display: flex;
  justify-content: space-between;
  margin: 10px 5% 5px 5%;
}

.main-image {
  width: 120px;
}
.main-image img {
  width: 100%;
}

#f1 {
  position: absolute;
  border: none;
  right: 100px;
  top: 40px;
  z-index: 100;
  transition: all 0.3s ease-out;
  transform: scale(1);
}
#f2 {
  position: absolute;
  top: 44px;
  right: 107px;
  z-index: 99;
  transition: all 0.5s ease-out;
  transform: scale(1);
}
#f3 {
  position: absolute;
  top: 44px;
  right: 107px;
  z-index: 98;
  transition: all 0.7s ease-out;
  transform: scale(1);
}
#f4 {
  position: absolute;
  top: 44px;
  right: 107px;
  z-index: 97;
  transition: all 0.9s ease-out;
  transform: scale(1);
}

nav {
  position: fixed;
  display: flex;
  top: 130px;
  width: 77%;
  justify-content: space-between;
  padding: 6px 28px;
  margin: 0 10%;
  z-index: 96;
  background-color: #fff;
  transition: all 0.5s ease;
  backdrop-filter: blur(1px); /* 배경을 10px로 흐리게 만듦 */
}

nav > a {
  border-bottom: 2px solid #fff;
  padding: 10px;
  text-decoration: none;
  color: black;
<<<<<<< HEAD
  font-size: 20px;
=======
  font-size: 18px;
>>>>>>> origin/main
  font-weight: bold;
  transition: all 0.9s ease-in-out;
}

nav > a:hover {
  border-bottom: 2px solid rgb(139, 23, 26);
  text-shadow: 0 0 2px rgb(148, 147, 147);
}

.navOnscroll {
  border-radius: 0px;
  border-color: black;
  border: 0 solid #fff;
}

.text {
  margin: 90px 0 0 0;
  padding: 15px 0;
  background-color: #ededed;
  text-align: center;
}

.text h2 {
  font-size: 18px;
  font-weight: normal;
}


.last {
    position: relative;
    bottom: auto;
    display: flex;
    justify-content: center;
    padding: 80px 0 40px 0;
    width: 100%;
    background-color: rgb(43, 42, 42);
    color: #fff;
  }
  
  .lastArea {
    margin: 0 20%;
  }
  
  .a1,
  .a2 {
    display: flex;
    justify-content: center;
  }
  
  .a1 h3,
  .a2 h4 {
    margin: 20px 5px 15px 5px;
  }
  .a2 h4 {
    margin-bottom: 30px;
  }

.container{
  margin: 35px 23%;
}

.title{
  display: flex;
  justify-content: left;
}

.title input{
  font-weight: bold;
  font-family: sans-serif;
  width: 70%;
  height: 20px;
  padding: 10px 20px;
  font-size: 20px;
  margin: 10px 0 0 0 ;
  outline: none;
  border:none;
  border-bottom: 2px solid rgb(75, 75, 75);
}

.container div a{
  display: flex;
  justify-content: left;
  font-size: 24px;
  text-decoration: none;
  color:#e37676;
  font-weight: bold;
  margin-bottom: 5px;
}

.uploadImg{
  display: flex;
  justify-content: left;
  width: 250px;
  margin: 15px;
  border:2px solid rgb(212, 212, 212);
  padding: 6px 3px;
  border-radius: 5px;
}

.uploadImg input[type=file]::file-selector-button{
  color:white;
  border: none;
  border-radius: 5px;
  padding: 6px 7px;
  font-size: 15px;
  background-color: cornflowerblue;
}

.textArea{
  margin: 10px 0;
  display: flex;
  justify-content: center;
}

.textArea textarea{
  border: none;
  background-color: #ededed;
  font-weight: bold;
  font-family: sans-serif;
  width: 100%;
  height: 400px;
  padding: 20px 30px;
  font-size: 17px;
  outline: none;
  border-radius: 10px;
}

.createTextBtn{
  display: flex;
  justify-content: right;
}

.createTextBtn input{
  margin: 10px 10px;
  color:white;
  font-size: 17px;
  border: none;
  font-weight: bold;
  border-radius: 22px;
  padding: 10px 20px;
  transition: all 0.6s ease-in-out;
}

.password{
  display: flex;
  justify-content: left;
  margin-bottom: 20px;
}
.password input{
  display: flex;
  justify-content: center;
  width: 15%;
  min-width: 130px;
  font-size: 16px;
  padding: 8px 10px;
  background-color: #ededed;
  margin: 5px 10px 5px 10px;
  border:2px solid rgb(143, 142, 142);
  border-radius: 10px;
  outline: none;
}

.createTextBtn input:first-child{
<<<<<<< HEAD
  background-color: #e37676;
}

.createTextBtn input:last-child{
  background-color: rgb(161, 161, 161)
  ;
=======
  background-color: rgb(161,161,161);
  transition: all 0.7s ease-in-out;
}

.createTextBtn input:last-child{
  background-color: rgb(161, 161, 161);
>>>>>>> origin/main
}

.createTextBtn input:hover{
  box-shadow: 0 1px 5px rgb(110, 110, 110);
}

label{
  padding: 5px 10px;
  border: none;
  background-color: #e37676;
  border-radius: 22px;
  color:#fff;
  font-size: 17px;
}