@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

body{
    background-color: #fff;
    padding: 0;
    margin: 0;
    font-family: "Noto Sans KR", sans-serif ;
    margin: 0 20%;
}

.container{
    display: flex;
    height: 100vh;
    justify-content:space-around;
    align-items: center;
}

.container .h1{
    display: flex;
    justify-content: center;
}

.container .text-area {
    width: 500px;
    font-size: 23px;
}

.loginform{
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh;
}

.gradient-border {
    margin-top: 20px;
    border: 1px solid rgb(187, 187, 187);
    border-radius: 23px;
    padding: 20px 40px 35px 40px;  /* 선택적인 내부 여백(padding) 추가 */
    box-shadow: 0 2px 4px rgb(192, 192, 192);
}

form img{
    width: 124px; 
    margin-left: 109px;
    
}

.id-area input{
    width:250px;
    height: 25px;
    border-radius: 8px;
    border: none;
    padding: 8px;
    background-color: rgb(212, 212, 212);
    align-items: center;
    margin-top: 10px;
    box-shadow: 0 3px 5px rgb(174, 173, 173);
    transition: transform 0.7s ease-in-out;
}

.pw-area input{
    width:250px;
    height: 25px;
    border-radius: 8px;
    border: none;
    padding: 8px;
    background-color: rgb(212, 212, 212);
    align-items: center;
    margin-top: 15px;
    box-shadow: 0 3px 5px rgb(174, 173, 173);
    transition: transform 0.7s ease-in-out;
}

.btn input{
    width:266px;
    height: 41px;
    border: none;
    border-radius: 8px;
    padding: 0;
    font-weight: bold;
    font-size: 20px;
    align-items: center;
    margin-top: 35px;
    background-color: #e4e4e4;
    box-shadow: 0 3px 5px rgb(143, 142, 142);
    transition: all 0.7s ease-in-out;
}

.id-area input:hover, .pw-area input:hover, .btn input:hover{
    transform: scale(0.98);
    box-shadow: 0 3px 7px rgb(114, 114, 114);
}

.btn input:hover{
    background-color: cornflowerblue;
    color:#fff;
}

.bottom{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 5px;
}

.bottom a{
    text-decoration: none;
    transition: text-shadow 0.7s ease;
    color:rgb(97, 97, 97);
    font-weight: bold;
}

.bottom a:hover{
    text-shadow:0 0 5px rgb(92, 92, 92);
}