<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/post_list.css" />
    <link rel="stylesheet" href="../static/post-list2.css" />
  </head>
  <body>
    <div class="top">
      <div class="main-image">
        <a href="/main">
          <img src="../static/대표 로고.png" alt="" />
        </a>
      </div>
      <div class="menu">
        <div id="f1">
          <a href=""
            ><img src="../static/설정 바.png" alt="3line" width="50px"
          /></a>
        </div>
        <div id="f2">
          <!-- 로그아웃e -->
          <a href=""><img src="../static/문의.png" alt="" width="40px" /></a>
        </div>
        <div id="f3">
          <!-- 제거 할 부분 -->
          <a href=""
            ><img src="../static/로그아웃.png" alt="로그아웃" width="40px"
          /></a>
        </div>
      </div>
    </div>
    <div class="nav-bar">
      <nav>
        <a href="/main">홈 화면</a>
        <a href="/lists/game/1">게임 게시판</a>
        <a href="/lists/music/1">음악 게시판</a>
        <a href="/lists/japan/1">일본 게시판</a>
        <a href="/lists/computer/1">학업 게시판</a>
        <a href="/lists/talk/1">잡담 게시판</a>
      </nav>
    </div>
    <div class="text">
      <h2 id="name"></h2>
    </div>
    <div class="aaa">
      <div class="title" style="margin-left: 10px">
        {% if table == "game" %}
        <a href="/lists/game/1"><p>게임 게시판</p></a>
        {% endif %} {% if table == "japan" %}
        <a href="/lists/japan/1"><p>일본 게시판</p></a>
        {% endif %} {% if table == "music" %}
        <a href="/lists/music/1"><p>음악 게시판</p></a>
        {% endif %} {% if table == "computer" %}
        <a href="/lists/computer/1"><p>컴퓨터 게시판</p></a>
        {% endif %} {% if table == "talk" %}
        <a href="/lists/talk/1"><p>잡담 게시판</p></a>
        {% endif %}
      </div>
      <!-- 글 생성하기 버튼 -->
      <div class="btnarea">
        <form action="/{{ table }}/create" method="get">
          <button class="createTextBtn">글쓰기</button>
        </form>
      </div>
      {% for result in results %}
      <div class="text-area">
        <!-- 글 리스트 (10개) -->
        <div style="display: flex; height: 100%; align-items: center">
          <a href="/{{ table }}/{{ result['title']}}/{{result['id']}}"
            >{{result['title']}}</a
          >
          <div style="display: flex; height: 100%; align-content: center">
            <p style="font-size: 11px; color: rgb(90, 90, 90)">
              {{ result['date']}}
            </p>
          </div>
        </div>
        <div style="color: rgb(90, 90, 90)" class="kkkk">
          <p>{{ result['nickname'] }}</p>
          <p>댓글 {{ result['cnt'] }}</p>
          <p>추천 {{ result['recommand']}}</p>
        </div>
      </div>
      {% endfor %}
      <div class="lists">
        <!-- 페이지 네비게이션 (1 2 3 4 5...) -->
        {% if total_page <= 5 %} {% for p in range(1, total_page + 1) %}
        <a href="/lists/{{ table }}/{{ p }}">{{ p }}</a>
        {% endfor %} {% else %} {% if page <= 2 %} {% for p in range(1, 6) %}
        <a href="/lists/{{ table }}/{{ p }}">{{ p }}</a>
        {% endfor %} {% elif page >= 3 and page + 2 <= total_page %} {% for p in
        range(page -2, page + 3) %}
        <a href="/lists/{{ table }}/{{ p }}">{{ p }}</a>
        {% endfor %} {% elif page + 1 == total_page %} {% for p in range(page
        -3, page + 2) %}
        <a href="/lists/best/{{ p }}">{{ p }}</a>
        {% endfor %} {% elif page == total_page %} {% for p in range(page -+
        4,page + 1) %}
        <a href="/lists/best/{{ p }}">{{ p }}</a>
        {% endfor %} {% endif %} {% endif %}
      </div>
    </div>

    <!-- 여기서부터 하단 복붙 ㄱㄱ -->
    <div class="last">
      <div class="lastArea">
        <hr />
        <div class="a1">
          <h3 style="margin-right: 10px">제작</h3>
          <h3>박설호</h3>
          <h3>배태하</h3>
          <h3>서용민</h3>
          <h3>이재훈</h3>
          <h3>이지문</h3>
          <h3>황제원</h3>
        </div>
        <div class="a2">
          <h4>design.Hwang-jewon</h4>
        </div>

        <div style="display: flex; justify-content: center">
          <i>Copyright ⓒ 2024. none All rights reserved.</i>
        </div>
      </div>
    </div>
    <script src="../static/post_list.js"></script>
    <script src="../static/logininf.js"></script>
  </body>
</html>
