<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Untity</title>
    <link rel="icon" href="../static/tap.png">
    <link rel="stylesheet" href="../static/post.css" />
    <link rel="stylesheet" href="../static/post-testarea.css" />
  </head>
  <body>
    <div class="top">
      <div class="main-image">
        <a href="/main">
          <img src="../static/대표 로고.png" alt="" />
        </a>
      </div>
      <div class="menu">
        <div id="f1">
          <a href=""
            ><img src="../static/설정 바.png" alt="3line" width="50px"
          /></a>
        </div>
        <div id="f2">
          <!-- 로그아웃e -->
          <a href=""
            ><img src="../static/문의.png" alt="" width="40px"
          /></a>
        </div>
        <div id="f3">
          <!-- 제거 할 부분 -->
          <a href=""
            ><img src="../static/로그아웃.png" alt="로그아웃" width="40px"
          /></a>
        </div>
      </div>
    </div>
    <div class="nav-bar">
      <nav>
        <a href="/main">홈 화면</a>
        <a href="/lists/game/1">게임 게시판</a>
        <a href="/lists/music/1">음악 게시판</a>
        <a href="/lists/japan/1">일본 게시판</a>
        <a href="/lists/computer/1">학업 게시판</a>
        <a href="/lists/talk/1">잡담 게시판</a>
      </nav>
    </div>
    <div class="text">
      <h2 id="name"></h2>
    </div>


    <div class="container">
      <div class="aaa">
        <div class="title">
          {% if table == "game" %}
        <a href="/lists/game/1">게임 게시판</a>
        {% endif %}
        {% if table == "japan" %}
        <a href="/lists/japan/1">일본 게시판</a>
        {% endif %}
        {% if table == "music" %}
        <a href="/lists/music/1">음악 게시판</a>
        {% endif %}
        {% if table == "computer" %}
        <a href="/lists/computer/1">컴퓨터 게시판</a>
        {% endif %}
        {% if table == "talk" %}
        <a href="/lists/talk/1">잡담 게시판</a>
        {% endif %}
        </div>
      </div>
      <!-- 본문제목 -->
      <!--  본문 제목 최대 한글 20자-->
      <h1>{{ result['title'] }}</h1>

      <!-- 추천 수  max 50-->
      <div class="textInf"> 
        <div style="display: flex;justify-content: left;height: 20px; align-items: center;">
          <p style="font-size: 17px;color:#5c5c5c;font-weight: bold;">
            {{ result['nickname'] }} 
          </p>
          <span style="border-right: 2px solid #5c5c5c;height: 15px;margin: 0 5px;"></span>
          <!-- 시간 -->
          {% set date_string = result['date'].strftime("%Y-%m-%d %H:%M:%S") %}
            {% set datetimes = date_string.split(" ") %}
            {% set date_parts = datetimes[0].split(".") %}
            {% set time_parts = datetimes[1].split(":") %}
          <p style="font-weight: bold;">{{ date_parts[0] }} {{date_parts[1]}} {{ date_parts[2] }}&nbsp; {{ time_parts[0] }}:{{ time_parts[1] }}:{{ time_parts[2]}}</p>
        </div>
        <div style="display: flex;justify-content: right;">
          <p style="font-size: 17px;color:#5c5c5c;font-weight: bold;">좋아요 : <span id="re"></span></p>
        </div>
      </div>
      <div class="contentarea" style="min-height: 400px;">
        <div class="j">
          <button class="jb">글 수정</button>
        </div>
        <!--이미지 -->
        <!-- 이미지 공간 할당(권위자의 조언) -->
        <div class="hh"></div>
        <img class="imgArea" src="{{ result['image'] }}" alt="Post image"/>
        <!-- 본문 최대 한글 300자 -->
        <h3>{{ result['article'] }}</h3>
      </div>
      <div class="createrAreaPw">
        <!-- 글 비밀번호 성공하면 json result = "ture" munja-->
        <form action="{{ table }}/{{ title}}/{{id}}/password" method="post">
          <label for="contentpw">글 비밀번호</label>
          <input type="password" id="contentpw" name="password" value="" />
          <input type="submit" value="글 수정하기" />
        </form>
      </div>
      <div class="createrArea">
        <!-- 업데이트 버튼 여기서 부터 비밀번호 일치시 보이게 해주세요  -->
        <form action="/{{ table }}/{{ title}}/{{id}}/update_page">
          <input type="submit" value="업데이트" />
        </form>

        <!-- 삭제 버튼 / 누르면 지워짐 -->
        <form action="/{{ table }}/{{ title }}/{{id}}/delete">
          <input type="submit" value="삭제" />
        </form>
      </div>

      <div class="recommand">
        <!--  추천 버튼 / 누르면 추천 +1-->
        <form action="/{{ table }}/{{ title }}/{{id}}/recommand" method="post">
          <button type="submit" class="recommandbtn">
              <img src="../static/ㅈㅈㅈ.png" alt="">
          </button>
          <div style="text-align: center;margin-bottom: 30px;">
            <p style="font-weight: bold; font-size: 14px;color:#474747">좋아요</p>
          </div>
        </form>
      </div>
      <!--자바 스크립트로 글자 넣기 (h2 본문 텍스트 자바스크립트로 댓글 숫자 받고 innerText)-->
      <h4 style="margin: 10px 0px;padding: 0 0 10px 0;
      border-bottom: 3px solid #e37676">전체 댓글 {{ result_count['cnt'] }} 개</h4>
      <!-- 댓글 입력 창 -->
      <form
        action="/{{ table }}/{{ title }}/{{id}}/comment"
        method="post"
        class="review-form">
      
        <!-- nickname max hanguel 15 -->
        <div class="c">
          <input
            type="text"
            id="nickname"
            name="nickname"
            placeholder="사용할 닉네임"
            minlength="1"
          />
          <!-- password max english 30, hanguel 15 -->
          <input
            type="password"
            id="textpw"
            name="password"
            placeholder="댓글 비밀번호"
            minlength="1"
          />
        </div>
        <div class="b">
          <!-- article max hanguel 150 -->
          <input
            type="text"
            name="article"
            id="review"
            placeholder="댓글쓰기"
            minlength="1"
          />
        </div>
        <div class="a">
          <input type="submit" id="writetext" value="글 쓰기" disabled/>
        </div>
      </form>
      <div class="bottom">
        {% for comment in comment_result %}
        <div>
          <!-- 저장된 댓글 창 닉네임과 시간 -->
          {% set date_string = comment['date'].strftime("%Y-%m-%d %H:%M:%S") %}
          {% set datetimes = date_string.split(" ") %}
          {% set date_parts = datetimes[0].split("-") %}
          {% set time_parts = datetimes[1].split(":") %}
          <div class="name-date">
            <div class="bottom-review">
              <p style="font-weight: bold;min-width: 60px;">{{ comment['nickname'] }}</p>
              <p>{{comment['article'] }}</p>
            </div>
            <div>
              <p style="color: rgb(129, 129, 129);min-width: 130px;text-align: right;">{{date_parts[1]}} {{ date_parts[2] }} {{ time_parts[0] }}:{{ time_parts[1] }}:{{ time_parts[2]}}</p>
            </div>
          </div>
          <!-- 댓글내용 -->
          <div class="delete-form" style="padding: 5px 0;">
            <!-- 댓글 삭제기능 -->
            <form
              class="test"
              action="/{{ table }}/{{ title }}/{{ id }}/{{ comment['comment_id']}}/check"
              method="post"
            >
              <input class="inputv" style="padding: 2px 5px; width: 90px;background-color: rgb(179, 179, 179);border:none;outline: none;" type="password" name="password2" value=""/>
              <input type="submit" class="inputvB"
              style="border:none;background-color: #a0a0a0; padding: 1px 10px;color:white;border-radius: 3px;"
               value="확인" />
            </form>
            <form
              action="/{{ table }}/{{ title }}/{{ id }}/comment/delete/{{ comment['comment_id'] }}"
              method="post"
              class="deleteBtn"
              style="display: none;"
            >
              <input style="border: none;font-size: 17px; margin-left: 5px;" type="submit" value="X" disabled />
            </form>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    
    <div class="last">
      <div class="lastArea">
        <hr />
        <div class="a1">
          <h3 style="margin-right: 10px">제작</h3>
          <h3>박설호</h3>
          <h3>배태하</h3>
          <h3>서용민</h3>
          <h3>이재훈</h3>
          <h3>이지문</h3>
          <h3>황제원</h3>
        </div>
        <div class="a2">
          <h4>design.Hwang-jewon</h4>
        </div>

        <div style="display: flex; justify-content: center">
          <i>Copyright ⓒ 2024. none All rights reserved.</i>
        </div>
      </div>
    </div>      
    <script src="../static/post.js"></script>
    <script src="../static/post-2.js"></script>
    <script src="../static/logininf.js"></script>
  </body>
</html>
